In [1]:
names = open ("unisex_names.csv", "r").read()
names_list = names.split("\n")
print (names_list [:10])

['Casey,176544.328149', 'Riley,154860.665173', 'Jessie,136381.830656', 'Jackie,132928.78874', 'Avery,121797.419516', 'Jaime,109870.18729', 'Peyton,94896.395216', 'Kerry,88963.92625', 'Jody,80400.519199', 'Kendall,79210.873961']

In [2]:
names_data =[]
for element in names_list:
    names_data.append (element .split(","))
print (names_data [:5])

[['Casey', '176544.328149'], ['Riley', '154860.665173'], ['Jessie', '136381.830656'], ['Jackie', '132928.78874'], ['Avery', '121797.419516']]

In [19]:
numerical_list = []

for element in names_data:
    numerical_list.extend([[element [0], float (element [1])]])

print (numerical_list [:10])

[['Casey', 176544.328149], ['Riley', 154860.665173], ['Jessie', 136381.830656], ['Jackie', 132928.78874], ['Avery', 121797.419516], ['Jaime', 109870.18729], ['Peyton', 94896.395216], ['Kerry', 88963.92625], ['Jody', 80400.519199], ['Kendall', 79210.873961]]

In [22]:
final_list =[]
for element in numerical_list:
    if element [1]>=1000:
        final_list.append (element [0])
print (final_list [:10])

['Casey', 'Riley', 'Jessie', 'Jackie', 'Avery', 'Jaime', 'Peyton', 'Kerry', 'Jody', 'Kendall']